body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #4CAF50;
    color: white;
    padding: 30px;
}

section {
    padding: 20px;
    margin: 10px;
}

h2 {
    color: #4CAF50;
}

.socials a {
    font-size: 30px;
    margin: 15px;
    color: #4CAF50;
    text-decoration: none;
}

.socials a:hover {
    color: black;
}
